<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.project.easyrecharge"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ERApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >

        <!-- 起始欢迎页 -->
        <activity
            android:name=".activity.ActStart"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 首页菜单页 -->
        <activity
            android:name=".activity.ActMain"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 电费查询 -->
        <activity
            android:name=".activity.ActInquiry"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 电费查询结果 -->
        <activity
            android:name=".activity.ActResultInquiry"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 快捷充值 -->
        <activity
            android:name=".activity.ActRecharge"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 快捷充值结果 -->
        <activity
            android:name=".activity.ActResultRecharge"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 用户绑定 -->
        <activity
            android:name=".activity.ActBind"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 用户绑定结果 -->
        <activity
            android:name=".activity.ActResultBind"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 充值记录 -->
        <activity
            android:name=".activity.ActRecord"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 设   置 -->
        <activity
            android:name=".activity.ActSetting"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 学校选择 -->
        <activity
            android:name=".activity.ActChooseSchool"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 楼号选择 -->
        <activity
            android:name=".activity.ActChooseBuilding"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 用户反馈 -->
        <activity
            android:name=".activity.ActFeedback"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 关   于 -->
        <activity
            android:name=".activity.ActAbout"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 用户须知 -->
        <activity
            android:name=".activity.ActNotice"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 支付宝支付页面 -->
        <activity
            android:name="com.alipay.android.app.sdk.WapPayActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>